* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_logo {
  cursor: pointer;
}
.banner {
  background-image: url("assets/desktop/image-header.jpg");
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.header_right {
  display: flex;
  font-size: 18px;
  color: white;
  align-items: center;
}
.header_right span {
  margin-right: 30px;
  cursor: pointer;
}
.header_contact {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 4px 15px;
  border-radius: 50px;
  transition: 0.22s all ease-in-out;
}
.header_contact:hover {
  background-color: black;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}
.main_text {
}
.main_arrow {
  margin-top: 60px;
}
